@media only screen and (max-width: 768px) {
	.custom-mobile-hide {
		display: none !important;
	}
}

.ui.segment {
	overflow-x: unset;
}

/* copied from the main theme, fixes syntax highlighting */
pre:has(> code.language-toy) {
    line-height: 1.18em;
    overflow-x: auto;
    width: fit-content;
    max-width: 100%;
}
